
body {
height: 100%;
padding: 0;
margin: 0;
}
nav ul {
display: flex;
flex-wrap: wrap;
justify-content: center;
border: 1px solid #999999;
padding: 0px;
}

nav ul li {
  /*text-decoration: none;*/
  display: flex;
  align-items: flex-center;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  /*background-color: #FF0000;*/
  border: 1px solid #3c3cff;
  border-radius: 5px;
}

nav ul li:hover{
  background-color: #3c3cff; 
}


/*TEADHERS VIEW AND EDIT VIEW*/
.editContainer {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

.drawer {
  background: hotpink;
  width: 20%;
  -ms-flex: 0 100px;
  -webkit-box-flex:  0;
  -moz-box-flex:  0;
  -ms-box-flex:  0;
  box-flex:  0;  
}


#editMain {
  background: aliceblue;
 -ms-flex: 1;
 -webkit-box-flex: 1;
 -moz-box-flex: 1;
 -ms-box-flex: 1;
 box-flex: 1;  
}
#editMain form{
  width: 100%;
}

.hidden{
  display: none;
}
/*END TEADHERS VIEW AND EDIT VIEW*/
#Wrapper {
	width:1024px;
	margin:0 auto;
	font-family: Myriad;
}

header {
	padding:10px;
	background-color: #4151A3;
	background-image: url("placeholder.png");
	background-position: right;
}

header img {
	border-radius: 100%;
	height:70px;
	float:left;
}

h1 {
	margin: 0 auto 0 90px;
	width: 370px;
	text-align: center;
}

h3 {
	margin: 10px 10px;
	float:left;
}

a {
	background-color: #4151A3;
	color: #fff;
	text-decoration: none;
	float:left;
	padding: 3px 30px;
	margin: 0 20px;
}

li a {
	padding:5px 20px;
	margin: 0;
}

a:hover {
	background-color: #263160;
}

#Menu {
	float:right;
	margin: 20px auto 0;
}

#Menu li{
	list-style: none;
	float:left;
	margin: 0 10px;
}

.dropdown:hover .teachers{
	display: block;
}

.teachers {
	display: none;
	margin: 10px;
	position: absolute;
}

.week {
	margin: 10px 122px;
	list-style: none;
	float: left;
	background-color: #263160;
	color:white;
	text-align: center;
	padding: 2px auto;
}

.week th {
	background-color: #4151A3;
	width:130px;
}

.week td{
	background-color: #fff;
}

.clear {
	clear:both;
}